# Python
_pycache_/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Model files
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Dataset 
*.csv