<!DOCTYPE html>
<html>
<head>
<title>Home</title>

<style>

body{
    font-family: Arial;
    background: linear-gradient(to right,#667eea,#764ba2);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    text-align:center;
}

a{
    text-decoration:none;
    background:white;
    color:#764ba2;
    padding:15px 30px;
    border-radius:8px;
    font-weight:bold;
}

a:hover{
    background:#f0f0f0;
}

</style>

</head>

<body>

<div class="container">

<h1>Online Payment Fraud Detection System</h1>

<p>AI powered fraud detection for secure transactions</p>

<br>

<a href="/fraud">Start Fraud Detection</a>

</div>

</body>
</html>
